<div class="footer bg-white py-4" id="kt_footer">
	<!--begin::Container-->
	<div class="container-fluid text-center">
		<!--begin::Copyright-->
		<div class="text-dark">
			<span class="text-muted font-weight-bold mr-2">{{ new Date().getFullYear() }}&copy; Copyright</span>
			<a href="https://justinrignault.com" target="_blank" class="text-dark-75 text-hover-primary">Justin Rignault</a>
		</div>
		<!--end::Copyright-->
	</div>
	<!--end::Container-->
</div>